<% 
	for (var key in config.courses) 
	{
		if (key == page.category) 
		{
			var course = config.courses[key]
			break
 		}
	}
%>
<div class="container">
	<div class="category--header row">
		<div class="col-xs-12">
		  <h2 class="category--title"><%= course.title %><span class="coolblue-dot">.</span></h2>
			<div class="col-xs-4 col-md-2">
				<img class="img-circle img-responsive" src="/images/courses/<%= course.image %>" alt="%= course.title %>">
			</div>
			<div class="col-xs-8 col-md-10">
				<p><%= course.longDescription ? course.longDescription : course.description %></p>
				<% if (typeof course.startDate !== 'undefined') {
					var oneDay = 24*60*60*1000; // hours*minutes*seconds*milliseconds
					var firstDate = new Date(course.startDate);
					var secondDate = Date.now();
					var diffDays = Math.round(Math.abs((firstDate.getTime() - secondDate)/(oneDay)));
				%>
				<p>
					<a target="_new" class="btn btn-primary btn-lg" role="button"
					href="https://docs.google.com/a/coolblue.nl/forms/d/1Cn5gP0-3s70O3Ly5i_BzRdhnrS0ISHaGlK51pdVxmnE/viewform?entry.760763918=<%=course.startDate%>&entry.1313137544=<%=course.title%>&entry.1136998327=<%=course.formId%>">Subscribe to this course</a>
				</p>
				<div><b>Will start in <%-diffDays%> day(s).</b></div>
			<% } %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h3>Contents</h3>
			<div class="panel panel-default category--panel">
				<table class="table table-striped">
					<% var lesson = 1 %>
					<%- partial('_partial/archive', {pagination: config.category, index: true, lesson: lesson, signup: course.startDate && course.formId}) %>
					<% lesson++ %>
				</table>
			</div>
		</div>
	</div>
	<iframe id="forum_embed2" src="https://groups.google.com/forum/embed/?place=forum/coolcademy#!forum/coolcademy-<%-page.category%>" scrolling="no" frameborder="0" width="100%" height="700"></iframe>
</div>
